.box {
    width: 100px;
    height: 100px;
    background: url(../img/jackson.jpg) no-repeat center;
    background-size: 100%;
}

.testimg {
    width: 100px;
    height: 100px;
    background: url(../img/test.jpg) no-repeat center;
    background-size: 100%;
}